// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html,
body {
    max-width: 1200px;
    height: auto;
    margin: auto;
    padding: 0 5px;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 62.5%;

    @media(max-width: 500px) {
        padding: 0;
    }
}

@text-content: 1.6rem;
@section-head: 2rem;
@black: #000;
@white: #fff;
@gradient: linear-gradient(to top, #fff 30%, #6A98AB 100%);

.column {
    display: flex;
    flex-direction: column;
}

.section-text {
    font-size: @text-content;

    h2 {
        font-size: @section-head;
        font-weight: bold;
        padding: 20px 0 10px 0;
    }
}

.top-border {
    border-top: 2px solid @white;
}

.nav-bar {
    height: 30px;
    width: 100%;
    padding: 1px 0;
    padding-bottom: 2rem;
    top: 0;
    background: #6A98AB;

    @media(max-width: 500px) {
        height: auto;
        padding-bottom: 0;
    }



    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        @media(max-width: 500px) {
            width: 100%;
            align-items: center;
            .column();
        }

        li {
            @media(max-width: 500px) {
                padding-bottom: 1rem;
                height: 3rem;
                width: 100%;
                display: flex;
                justify-content: center;
                border-bottom: 1px solid @white;
            }

            a {
                padding: .5rem 0 .5rem 2rem;
                text-decoration: none;
                font-size: 2rem;
                color: @black;
                text-shadow: .1rem .1rem #c0c0c0;


            }

            a:hover {
                color: @white;

            }
        }



    }
}

.top-content {
    padding: 60px 0 40px 0;
    .column();
    background: @gradient;

    @media(max-width: 500px) {
        text-align: center;
        align-items: center;
    }

    .contact-info {
        font-size: @text-content;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media(max-width: 500px) {
            flex-direction: column-reverse;
            align-items: center;
            justify-content: space-around;
        }

        .contact-table {
            padding-bottom: 20px;

            tr td {
                padding: 1rem;
            }
        }
    }

    img {
        height: 200px;
        width: 250px;
        transform: rotate(270deg);
        padding: 10px 0;
        filter: grayscale(100%) brightness(1.4);

        @media(max-width: 500px) {
            max-height: 50%;
            max-width: 80%
        }
    }

    h1 {
        padding: 40px 0 20px 30px;
        font-size: 6rem;
    }

    .summary {
        padding-left: 30px;
        .top-border();
        .section-text();
    }
}

.mid-content {
    padding: 20px 0 20px 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    .section-text();



    .skills {
        width: 100%;
        column-count: 4;
        column-gap: 20px;
        flex-wrap: wrap;

        @media(max-width: 500px) {
            height: auto;
            column-count: 2;
            column-gap: 5px;
            padding-right: 10px;
        }

        li {
            list-style: circle;

        }




    }
}

.bottom-content {
    height: auto;
    width: 100%;
    padding: 40px 0;
    .column();
    .section-text();
    .top-border();

    table.work {
        border: 2px solid #000;
        width: 100%;
        text-align: center;
        border-collapse: collapse;

        td,
        th {
            border: 1px solid transparent;
            padding: 3px 4px;
        }

        td:nth-child(even) {
            background: transparent;
        }

        thead {
            background: transparent;
            border-bottom: 4px solid @black;

            th {
                font-size: 1.8rem;
                font-weight: bold;
                color: @black;
                text-align: center;
                border-left: 2px solid transparent;
            }

            th:first-child {
                border-left: none;
            }
        }

    }
}

footer {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    padding-bottom: 20px;
}
